.container{
    width: 60%;
    margin: 30px auto;
}
#newadd, #editTr{
    display: none;
}

.row {
    width: 100%;
    border: solid 1px black;
    height: 20px;
}
#newemployee {
    display: none;
}

#edit{
    position:absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 50px;
}

.menu{
    background-color: #555;
    height: 50px;
    display: flex;
    justify-content: center;


}
.menu .menuButton{
    width: 140px;
    height: 30px;
}